
#heading{
    color: white;
    margin: 150px 10px 0px 400px;
    padding: 5px 20px 5px 20px;
}
#paragraph{
    color: white; 
    font-size: large; 
    padding: 10px; 
    margin: 1px 10px 1px 100px;"
}
.i1{
    margin: 0px 10px 10px 140px; 
    background-color: black; 
    color: white;
}
.i2{
    margin: 10px 10px 10px 140px; 
    background-color: black; 
    color: aliceblue;
}
.b1{
    margin: 10px 10px 10px 205px; 
    color: black; 
    background-color: black;
}
.bottomright{
   
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}
